	<div class="top-block">

{% if breadcrumbs %}

	{% include "template/breadcrumbs.html" %}

{% endif %}

		<article class="top-block__box">

			<div class="center">

				<div class="top-block__content">

					<h1 class="top-block__title h1">
						Кухни
					</h1>

					<div class="top-block__desc">

						<p class="top-block__text">

							At Winning Appliances we want to make doing the laundry easier and more efficient, so you can get on with the better things in life. Sourced from the world's best brands, our range of laundry products caters to a range of budgets but each appliance offers quality, performance and convenience.

						</p>

						<blockquote class="top-block__action">

							<h3>
								Хотите купить столешицу отдельно?
							</h3>

							<p>
								Закажите сейчас акриловый или кварцевый камень со скидкой 15%
							</p>

						</blockquote>

					</div>

				</div>

			</div>

			<picture>

				<source srcset="/img/top-block/back.webp" type="image/webp">

				<source srcset="/img/top-block/back.jpg">

				<img class="top-block__img" src="/img/top-block/back.jpg" alt="" loading="lazy" width="1200" height="648">

			</picture>

		</article>

	</div>