	<div class="catalog-top">

{% if breadcrumbs %}

	{% include "template/breadcrumbs.html" %}

{% endif %}

		<article class="catalog-top__box">

			<div class="center">

				<div class="catalog-top__content">

					<h1 class="catalog-top__title h1">
						Torino Lack
					</h1>

					<div class="catalog-top__desc">

						<p class="catalog-top__text">

							Классические

						</p>

						<blockquote class="catalog-top__action">

							<h3>
								Хотите купить столешицу отдельно?
							</h3>

							<p>
								Закажите сейчас акриловый или кварцевый камень со скидкой 15%
							</p>

						</blockquote>

					</div>

				</div>

			</div>

			<picture>

				<source srcset="/img/catalog-top/back.webp" type="image/webp">

				<source srcset="/img/catalog-top/back.jpg">

				<img class="catalog-top__img" src="/img/catalog-top/back.jpg" alt="" loading="lazy" width="1200" height="648">

			</picture>

		</article>

	</div>