	<footer class="footer">

		<div class="center">

			<div class="footer__flex">

				<div class="footer__left">

					<a class="footer__logo" href="/">
						<img src="/images/logo.svg" width="202" height="52" alt="FortHouse">
					</a>

					<a class="footer__tel" href="tel:+74952830878">
						+7 495 283-08-78
					</a>

					<div class="footer__btns">

						<button class="btn btn--small btn--callback" type="button" data-modal="callback">
							<svg width="14" height="14" viewBox="0 0 14 14">
								<use xlink:href="#ico-btn-callback"/>
							</svg>
							Заказать звонок
						</button>

						<button class="btn btn--small btn--master" type="button" data-modal="master">
							<svg width="23" height="17" viewBox="0 0 23 17">
								<use xlink:href="#ico-btn-master"/>
							</svg>
							Вызов замерщика
						</button>

					</div>

				</div>

				<div class="footer__menu">

					<ul class="menu-footer">
						<li class="menu-footer__item">
							<a href="">О салоне</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Дизайнеры</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Проекты</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Новости</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Кухни</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Столовые группы</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Диваны</a>
						</li>
						<li class="menu-footer__item">
							<a href="">Шкафы купе</a>
						</li>
					</ul>

				</div>

				<div class="footer__address visible-sm">

					<a href="https://yandex.ru/maps/-/CGxzIJz0" target="_blank" rel="nofollow">
						М.О.,&nbsp;Новорижское&nbsp;шоссе, 7-ой&nbsp;км&nbsp;от&nbsp;МКАД, ТЦ&nbsp;ЮНИМОЛЛ,&nbsp;цокольный&nbsp;этаж
					</a>

				</div>

				<div class="footer__right">

					<p>
						Узнайте о нас больше
					</p>

					<ul class="social">

						<li class="social__item">
							<a class="social__link" href="" target="_blank" rel="nofollow" title="Группа фейсбук">
								<svg width="10" height="18" viewBox="0 0 10 18">
									<path d="M6.397 17.9972v-8.196h2.765l.411-3.209H6.397v-2.044c0-.926.258-1.56 1.587-1.56h1.684V.1271a22.336 22.336 0 00-2.467-.127c-2.444 0-4.122 1.492-4.122 4.231v2.355H.332v3.209h2.753v8.202h3.312z"/>
								</svg>
							</a>
						</li>

						<li class="social__item">
							<a class="social__link" href="" target="_blank" rel="nofollow" title="Группа вконтакте">
								<svg width="21" height="12" viewBox="0 0 21 12">
									<path d="M19.579.8548c.14-.465 0-.806-.662-.806h-2.193c-.558 0-.813.295-.953.619 0 0-1.115 2.719-2.695 4.482-.51.513-.743.675-1.021.675-.139 0-.341-.162-.341-.627V.8548c0-.558-.161-.806-.626-.806H7.642c-.348 0-.558.258-.558.504 0 .528.79.65.871 2.138v3.228c0 .707-.127.836-.407.836-.743 0-2.551-2.729-3.624-5.853-.209-.607-.42-.852-.98-.852H.752c-.627 0-.752.295-.752.619 0 .582.743 3.462 3.461 7.271 1.812 2.601 4.363 4.011 6.687 4.011 1.393 0 1.565-.313 1.565-.853v-1.966c0-.626.133-.752.574-.752.324 0 .882.164 2.183 1.417 1.486 1.486 1.732 2.153 2.567 2.153h2.192c.626 0 .939-.313.759-.931-.197-.615-.907-1.51-1.849-2.569-.512-.604-1.277-1.254-1.51-1.579-.325-.419-.231-.604 0-.976.001.001 2.672-3.761 2.95-5.04z"/>
								</svg>
							</a>
						</li>

					</ul>

				</div>

			</div>

		</div>

		<p class="footer__copyright">
			© 1993–2019 FortHouse.ru. Правовая информация
		</p>

	</footer>