	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__left">

					<a class="header__logo" href="/">
						<svg width="30" height="38" viewBox="0 0 30 38">
							<path fill-rule="evenodd" d="M16.6 1.1334c-.8-1.0667-2.4-1.0667-3.2 0L.9 17.8a2 2 0 000 2.4l12.5 16.6667c.8 1.0667 2.4 1.0667 3.2 0L29.1 20.2a2.0001 2.0001 0 000-2.4L16.6 1.1334zm-.8074 5.897c-.4003-.5203-1.1849-.5203-1.5852 0L5.469 18.3903a1.0001 1.0001 0 000 1.2195l8.7384 11.3598c.4003.5204 1.1849.5204 1.5852 0l8.7384-11.3598a1.0001 1.0001 0 000-1.2195L15.7926 7.0305z" clip-rule="evenodd"/>
						</svg>
						Social<span>Connect</span>
					</a>

				</div>

				<div class="header__right">

					<nav class="menu">

						<ul>
							<li><a href="">Продукты</a></li>
							<li><a href="">Цены</a></li>
							<li><a href="">Кейсы</a></li>
							<li><a href="" class="is-active">Блог</a></li>
						</ul>

					</nav>

					<div class="header__btns">

						<button class="btn btn--link btn--medium" type="button" data-modal="login">
							Войти
						</button>

						<button class="btn btn--violet btn--medium" type="button" data-modal="reg">
							Регистрация
						</button>

						<button class="btn btn--violet-light btn--medium" type="button" data-modal="demo">
							Тестовый доступ
						</button>

					</div>

					<div class="header__lang">

						<a href="/" title="Переход на английскую версию">
							<svg width="24" height="18" viewBox="0 0 24 18">
								<mask id="lang__mask" width="24" height="18" x="0" y="0" maskUnits="userSpaceOnUse">
									<rect width="24" height="18" fill="#C4C4C4" rx="4"/>
								</mask>
								<g mask="url(#lang__mask)">
									<path fill="#EAEAEA" d="M26 0H-2v18h28V0z"/>
									<path fill="#EF4D4D" d="M26 0H-2v2h28V0zM26 4H-2v2h28V4zM26 8H-2v2h28V8zM26 12H-2v2h28v-2zM26 16H-2v2h28v-2z"/>
									<path fill="#469FCC" d="M12 0H-2v9h14V0z"/>
									<path fill="#fff" d="M9.5 2a.5.5 0 100-1 .5.5 0 000 1zM7.5 2a.5.5 0 100-1 .5.5 0 000 1zM5.5 2a.5.5 0 100-1 .5.5 0 000 1zM3.5 2a.5.5 0 100-1 .5.5 0 000 1zM1.5 2a.5.5 0 100-1 .5.5 0 000 1zM8.5 4a.5.5 0 100-1 .5.5 0 000 1zM10.5 4a.5.5 0 100-1 .5.5 0 000 1zM10.5 8a.5.5 0 100-1 .5.5 0 000 1zM6.5 4a.5.5 0 100-1 .5.5 0 000 1zM4.5 4a.5.5 0 100-1 .5.5 0 000 1zM2.5 4a.5.5 0 100-1 .5.5 0 000 1zM.5 4a.5.5 0 100-1 .5.5 0 000 1zM9.5 6a.5.5 0 100-1 .5.5 0 000 1zM7.5 6a.5.5 0 100-1 .5.5 0 000 1zM5.5 6a.5.5 0 100-1 .5.5 0 000 1zM3.5 6a.5.5 0 100-1 .5.5 0 000 1zM1.5 6a.5.5 0 100-1 .5.5 0 000 1zM8.5 8a.5.5 0 100-1 .5.5 0 000 1zM6.5 8a.5.5 0 100-1 .5.5 0 000 1zM4.5 8a.5.5 0 100-1 .5.5 0 000 1zM2.5 8a.5.5 0 100-1 .5.5 0 000 1zM.5 8a.5.5 0 100-1 .5.5 0 000 1z"/>
								</g>
							</svg>
						</a>

<!--
ico for Rus

	<svg width="24" height="16" viewBox="0 0 24 16">
		<mask id="lang__mask" width="24" height="16" x="0" y="0" maskUnits="userSpaceOnUse">
			<rect width="24" height="16" fill="#C4C4C4" rx="2"/>
		</mask>
		<g mask="url(#lang__mask)">
			<path fill="#EAEAEA" d="M24 0H0v5.3333h24V0z"/>
			<path fill="#469FCC" d="M24 5.3329H0v5.3333h24V5.3329z"/>
			<path fill="#EF4D4D" d="M24 10.6669H0v5.3333h24v-5.3333z"/>
		</g>
	</svg>

-->
					</div>

				</div>

				<button class="button btn-menu-toggle visible-md" type="button" aria-label="открыть меню">
					<span class="btn-menu-toggle__top"></span>
					<span class="btn-menu-toggle__center"></span>
					<span class="btn-menu-toggle__bottom"></span>
				</button>

			</div>

		</div>

	</header>