.brands {

	&-cards {

		background-color: #fff;
		padding-top: 5px;

		&__list {

			position: relative;
			flex-wrap: wrap;
			padding-left: 50px;
			display: flex;
			margin-top: -130px;

			@media ($mdWidth) {

				margin: 0 -15px;
				padding: 10px 0 0;

			}

			@media ($smWidth) {

				margin: 0;
				padding: 0;
				display: block;

			}

		}

		&__item {

			width: 307px;
			border: 1px solid #d7d7d7;
			position: relative;
			margin: 15px;
			display: flex;
			flex-direction: column;
			background-color: #fff;

			@media ($desktop) {

				&:hover {

					box-shadow: 0 0 35px rgba(0,0,0,.24);
					border-color: #fff;

				}

			}

			@media ($mdWidth) {

				width: calc(50% - 30px);

			}

			@media ($smWidth) {

				width: 100%;
				margin: 20px 0 0;

			}

		}

		&__img {

			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px 20px 8px;
			flex-shrink: 0;

			img {

				max-width: 100%;
				max-height: 100%;

			}

		}

		&__name {

			margin: 0 20px;
			font-size: 14px;
			line-height: 20px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			flex-shrink: 0;
			position: static;
			color: var(--orange);

		}

		&__cat {

			margin: 17px 35px;
			font-size: 12px;
			line-height: 16px;
			font-weight: 600;
			flex-shrink: 0;
			color: #000;

			li {

				margin: 7px 0;

				&::before {

					position: absolute;
					width: 4px;
					height: 4px;
					top: 7px;
					left: -9px;
					content: '';
					background-color: #000;

				}

			}

			a {

				color: #000;

				@media ($desktop) {

					&:hover {

						color: var(--orange);

					}

				}

			}

		}

		&__made {

			flex-shrink: 0;
			margin: auto -1px 0;
			border-top: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 13px;
			font-weight: 700;
			height: 38px;
			color: #000;
			padding-bottom: 4px;

			&::before {

				width: 13px;
				height: 13px;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M425.951 89.021C386.864 32.451 324.917 0 256.006 0S125.148 32.451 86.061 89.021c-38.895 56.284-47.876 127.541-24.072 190.496 6.367 17.192 16.488 33.895 30.01 49.547l150.378 176.634c3.401 3.998 8.384 6.302 13.629 6.302 5.245 0 10.228-2.303 13.629-6.302l150.336-176.586c13.582-15.742 23.69-32.427 30.004-49.481 23.852-63.069 14.871-134.326-24.024-190.61zm-9.5 178.072c-4.869 13.158-12.818 26.167-23.613 38.68-.03.03-.06.06-.084.096L256.006 466.487 119.174 305.768c-10.789-12.502-18.738-25.51-23.655-38.794-19.686-52.065-12.215-110.981 19.991-157.592 32.307-46.76 83.519-73.578 140.496-73.578 56.976 0 108.182 26.817 140.49 73.578 32.212 46.611 39.689 105.527 19.955 157.711z'/%3E%3Cpath d='M256.006 106.219c-55.276 0-100.252 44.97-100.252 100.252s44.97 100.252 100.252 100.252 100.252-44.97 100.252-100.252c0-55.276-44.976-100.252-100.252-100.252zm0 164.699c-35.536 0-64.448-28.912-64.448-64.448 0-35.536 28.912-64.448 64.448-64.448 35.536 0 64.448 28.912 64.448 64.448s-28.912 64.448-64.448 64.448z'/%3E%3C/svg%3E%0A");
				background-size: contain;
				margin-right: 8px;

			}

		}

		&__foot {

			margin: 0 -1px -1px;
			padding: 20px;
			background-color: #000;

		}

		&__ship {

			flex-shrink: 0;
			font-size: 13px;
			line-height: 18px;
			position: relative;
			margin: 0 0 15px 76px;

			&::before {

				position: absolute;
				width: 28px;
				height: 28px;
				top: 0;
				left: -36px;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 472 472' fill='white'%3E%3Cpath d='M64.004 264.002c-4.418 0-8 3.582-8 8v32c0 4.418 3.582 8 8 8s8-3.582 8-8v-32c0-4.418-3.582-8-8-8zM96.004 280.002c-4.418 0-8 3.582-8 8v32c0 4.418 3.582 8 8 8s8-3.582 8-8v-32c0-4.418-3.582-8-8-8zM387.796 322.938c-3.729-2.37-8.673-1.267-11.043 2.462-2.274 3.579-1.361 8.311 2.083 10.786 21.99 14.806 27.813 44.635 13.008 66.624-14.806 21.99-44.635 27.814-66.624 13.008-21.99-14.806-27.814-44.635-13.008-66.624 8.915-13.241 23.83-21.184 39.792-21.192 4.418 0 8-3.582 8-8s-3.582-8-8-8c-35.346.007-63.995 28.666-63.988 64.012.007 35.346 28.666 63.995 64.012 63.988 35.346-.007 63.995-28.666 63.988-64.012-.004-21.275-10.58-41.158-28.22-53.052z'/%3E%3Cpath d='M444.235 349.43c-7.751-26.851-26.823-48.989-52.231-60.628v-176.8a7.9996 7.9996 0 00-3.928-6.888l-176-104c-2.512-1.485-5.633-1.485-8.144 0l-176 104c-.168.096-.288.24-.448.352-.16.112-.312.24-.472.368a7.8865 7.8865 0 00-1.768 1.952c0 .056-.096.088-.128.144v.056a8 8 0 00-.904 2.616c0 .24-.072.464-.096.704s-.112.456-.112.696v208a7.9996 7.9996 0 003.928 6.888l176 104c.211.102.427.193.648.272.218.109.443.205.672.288a7.136 7.136 0 005.504 0c.232-.083.459-.179.68-.288.208-.096.432-.152.64-.272l47.768-28.232c14.699 50.918 67.891 80.28 118.81 65.581 50.918-14.698 80.28-67.891 65.581-118.809zM208.004 17.29l41.6 24.584-61.68 36.448c-3.806 2.249-5.069 7.158-2.82 10.964s7.158 5.069 10.964 2.82l69.272-40.904 41.6 24.584-160.272 94.68-41.6-24.584 67.016-39.6c3.806-2.249 5.069-7.158 2.82-10.964s-7.158-5.069-10.964-2.82l-74.6 44.088-41.608-24.584L208.004 17.29zm-69.336 167.04v53.416L97.34 213.322v-53.416l41.328 24.424zm120.497 166.942a95.6416 95.6416 0 00-3.161 24.73c.002 3.348.178 6.694.528 10.024l-40.528 23.96v-25.984c0-4.418-3.582-8-8-8s-8 3.582-8 8v25.984l-160-94.544V126.026L81.34 150.45v67.432c-.003 2.832 1.49 5.455 3.928 6.896l57.328 33.88c1.234.726 2.64 1.11 4.072 1.112 4.418 0 8-3.582 8-8v-57.992l45.336 26.792v131.432c0 4.418 3.582 8 8 8s8-3.582 8-8V220.57l144.992-85.68c3.804-2.249 5.065-7.156 2.816-10.96-2.249-3.804-7.156-5.065-10.96-2.816l-144.848 85.6-45.6-26.952L322.676 85.05l53.328 31.512v166.64c-51.061-13.467-103.372 17.008-116.839 68.07zm92.839 104.73c-44.183 0-80-35.817-80-80s35.817-80 80-80 80 35.817 80 80c-.048 44.163-35.837 79.951-80 80z'/%3E%3Cpath d='M381.464 354.346c-3.1-2.995-8.016-2.995-11.116 0l-30.344 30.344-6.344-6.344c-3.178-3.07-8.242-2.982-11.312.196-2.995 3.1-2.995 8.016 0 11.116l12 12c3.124 3.123 8.188 3.123 11.312 0l36-36c3.07-3.178 2.982-8.243-.196-11.312z'/%3E%3C/svg%3E%0A");
				background-size: contain;

			}

			small {

				display: block;
				font-size: 11px;

			}

		}

		&__link {

			width: 145px;
			margin: 5px auto;
			letter-spacing: .6px;

		}

	}

	&-litteral {

		background-color: #fff;

		&__column {

			padding: 30px 57px 46px 65px;
			column-count: 4;

			@media ($mdWidth) {

				padding: 30px 0;
				column-count: 2;

			}

			@media ($smWidth) {

				column-count: auto;

			}

		}

		&__block {

			display: inline-block;
			width: 100%;
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
			page-break-inside: avoid;
			position: relative;
			padding: 14px 0 12px 52px;
			min-height: 106px;
			color: #000;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55 63' width='55' height='63'%3E%3Ccircle cx='32' cy='32' r='30' stroke='black' stroke-width='2' fill='none'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 0 12px;

			&::after {

				position: absolute;
				width: 61px;
				height: 61px;
				top: 13px;
				left: 0;
				content: attr(data-litter);
				text-align: center;
				font-size: 36px;
				line-height: 60px;

			}

		}

		&__item {

			text-transform: uppercase;
			font-size: 13px;
			line-height: 14px;
			padding: 8px 10px;

			a {

				color: #000;

			}

		}

	}

}