.footer {

	flex-shrink: 0;
	background-color: #222;

	&::after {

		position: absolute;
		right: 0;
		bottom: 0;
		width: 370px;
		height: 223px;
		content: '';
		background-image: url(/images/footer-patern.png);
		background-position: right bottom;
		background-repeat: no-repeat;
		pointer-events: none;

		@media ($smWidth) {

			opacity: .2;

		}

	}

	.center {

		@media ($mdWidth) {

			width: 100%;

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;
		padding: 26px 0 44px;

		@media ($smWidth) {

			display: block;
			padding: 20px 0;

		}

	}

	&__left {

		display: flex;
		flex-direction: column;
		width: 270px;
		justify-content: space-between;
		align-items: flex-end;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 200px;
			display: block;

		}

		@media ($smWidth) {

			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

		}

	}

	&__tel {

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		position: relative;
		letter-spacing: .2px;

	}

	&__logo {

		width: 202px;
		height: 52px;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__right {

		width: 264px;
		font-size: 12px;
		padding-top: 16px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 20%;
			padding: 0;

		}

		@media ($smWidth) {

			width: 100%;
			text-align: center;

		}

	}

	&__copyright {

		background-color: #000;
		text-align: center;
		font-size: 12px;
		padding: 16px 20px;

	}

	&__menu {

		margin: 4px 68px 4px 0;
		flex-shrink: 0;

		@media ($mdWidth) {

			margin: 0;

		}

		@media ($smWidth) {

			margin: 20px auto 30px;
			width: 280px;

		}

	}

	&__btns {

		.btn--master,
		.btn--callback {

			display: none;

			@media ($xsWidth) {

				padding-left: 15px;

				svg {

					display: none;

				}

			}

		}

		@media ($mdWidth) {

			margin-top: 20px;

			.btn--callback {

				display: block;
				padding-right: 15px;

			}

		}

		@media ($smWidth) {

			display: flex;
			justify-content: center;

			.btn--master {

				display: block;
				margin-left: 20px;
				padding-right: 15px;

			}

		}

	}

	&__address {

		font-size: 11px;
		line-height: 17px;
		text-transform: uppercase;
		position: relative;
		text-align: center;
		margin: 20px;

		&::before,
		&::after {

			width: 80px;
			height: 2px;
			display: block;
			margin: 20px auto;
			content: '';
			background-color: var(--orange);

		}

	}

}