.footer {

	flex-shrink: 0;
	background-color: #222;

	&__flex {

		display: flex;
		justify-content: space-between;
		padding: 26px 0 44px;

	}

	&__left {

		display: flex;
		flex-direction: column;
		width: 270px;
		justify-content: space-between;
		align-items: flex-end;

	}

	&__tel {

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		position: relative;
		letter-spacing: .2px;

	}

	&__logo {

		width: 210px;
		height: 56px;
		outline:1px solid red;

	}

	&__right {

		width: 264px;
		font-size: 12px;
		padding-top: 16px;

	}

	&__copyright {

		background-color: #000;
		text-align: center;
		font-size: 12px;
		padding: 16px 20px;

	}

	&__menu {

		margin: 4px 68px 4px 0;

	}

}