.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;

	&:focus {

		outline: none;

	}

	@media ($desktop) {

		&:hover {

			cursor: pointer;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

}


.btn {

	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;

	padding: 0 30px;

	height: 45px;
	font-size: 13px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	border: 2px solid var(--orange);
	background-color: transparent;

	@media ($desktop) {

		&:hover {

			color: #fff;
			background-color: var(--orange);

		}

	}

	&--orange {

		background-color: var(--orange);

		@media ($desktop) {

			&:hover {

				color: var(--orange);
				background-color: transparent;

			}

		}

	}

	&--read-more {

		width: 192px;
		letter-spacing: .6px;

	}

	&--small {

		height: 32px;
		font-size: 11px;
		line-height: 28px;
		text-transform: none;
		font-weight: 400;
		padding: 0 26px;

	}

	&--callback {

		padding-left: 35px;
		padding-right: 22px;

		svg {

			position: absolute;
			top: 6px;
			left: 12px;
			fill: #fff;

		}

	}

	&--master {

		padding-left: 50px;

		svg {

			position: absolute;
			top: 5px;
			left: 15px;
			fill: #fff;

		}

	}

}

.input {

	height: 50px;
	line-height: 20px;

	padding: 15px 0;

	font-size: 16px;
	color: #fff;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	transition: var(--transitionDefault);

	textarea& {

		resize: none;
		height: 120px;
		overflow: auto;

	}

	&::placeholder {

		color: #fff;
		opacity: 1;
		font-size: 12px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	@media ($desktop) {

		&:hover {

			border-bottom-color: var(--orange);

		}

	}

	&:focus {

		outline: none;
		border-bottom-color: var(--orange);

		&::placeholder {

			opacity: 1;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		background-color: color(var(--error) a(25%)) !important;

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: #fff;
		background-color: transparent;

	}

}

.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 16px;
	line-height: 20px;

	&__input {

		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__label {

		display: block;
		padding-left: 35px;

		&::before {

			width: 20px;
			height: 20px;
			border-radius: 2px;
			position: absolute;
			box-shadow: inset 0 0 0 2px color(#000 a(30%));
			top: 0;
			left: 0;
			content: '';
			transition: var(--transitionDefault);

		}

	}

	&:hover &__label::before {

		box-shadow: inset 0 0 0 2px color(#000 a(50%));

	}

	&__input[type="checkbox"]:checked + &__label::before {

		box-shadow: none;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='9' fill='none' viewBox='0 0 10 9'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M9.619.3735a1.2567 1.2567 0 00-1.8046 0l-4.5122 4.6-1.1278-1.15a1.262 1.262 0 00-1.8047 0c-.4985.5094-.4985 1.3344 0 1.8406L2.4 7.736a1.2566 1.2566 0 001.8047 0L9.619 2.2141c.4984-.5094.4984-1.3344 0-1.8406z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
		background-color: var(--orange);
		background-position: center;
		background-repeat: no-repeat;

	}

}