.header {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding-top: 30px;

	&::before {

		position: absolute;
		height: 176px;
		top: 0;
		left: 0;
		right: 0;
		content: '';
		pointer-events: none;
		background-image: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,0));

	}

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__left {

		display: flex;

	}

	&__call {

		position: relative;
		padding-left: 15px;
		flex-shrink: 0;
		margin-right: 60px;

		.btn {

			margin-top: 4px;

		}

	}

	&__tel {

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		position: relative;
		letter-spacing: .2px;

		svg {

			position: absolute;
			top: 4px;
			left: -23px;
			fill: #fff;

		}

	}

	&__address {

		font-size: 11px;
		line-height: 17px;
		text-transform: uppercase;
		width: 200px;
		margin-top: 3px;
		position: relative;

		svg {

			position: absolute;
			top: 2px;
			left: -25px;
			fill: #fff;

		}

	}

	&__logo {

		position: absolute;
		width: 210px;
		height: 56px;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		outline:1px solid red;

	}

	&__master {

		display: flex;
		justify-content: flex-end;
		margin-top: 7px;

	}

}


@media ($mdWidth) {

	.btn-menu-toggle {

		width: 30px;
		height: 30px;
		position: absolute;
		flex-shrink: 0;
		top: 0;
		left: 15px;

		&__top,
		&__center,
		&__bottom {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 20px;
			height: 2px;
			transition: var(--transitionDefault);
			background-color: #fff;
			transform: rotate(0deg);

		}

		&__bottom {

			bottom: 12px;

		}

		&__top {

			top: 12px;

		}

		.menu-show & {

			&__center {

				background-color: transparent;

			}

			&__bottom {

				transform: rotate(225deg) scaleX(1.1);
				bottom: 0;

			}

			&__top {

				transform: rotate(-225deg) scaleX(1.1);
				top: 0;

			}

		}

	}

	.menu-show {

		background-color: #fff;

		.main,
		.footer {

			display: none;

		}

		.wrapper {

			background-color: #fff;
			padding: 0;

		}

	}

}