.main-about {

	text-align: center;
	background-color: #fff;
	padding: 7px 0 72px;
	color: #000;

	@media ($mdWidth) {

		padding-bottom: 50px;

	}

	@media ($smWidth) {

		padding-bottom: 30px;

	}

	&__title {

		margin: 31px 0;

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__btn {

		display: flex;
		justify-content: center;
		margin-top: 35px;

		@media ($smWidth) {

			margin-top: 20px;

		}

	}

	&__list {

		display: flex;
		justify-content: center;

		@media ($smWidth) {

			display: block;

		}

	}

	&__item {

		width: 158px;
		font-size: 12px;
		line-height: 17px;
		font-weight: 700;
		margin: 0 8px;

		@media ($smWidth) {

			width: 100%;
			margin: 0;
			margin-top: 10px;
			display: flex;
			align-items: center;
			text-align: left;

		}

		small {

			display: block;
			font-size: 12px;
			line-height: 17px;
			font-weight: 400;
			color: var(--gray);

		}

		svg {

			margin: 14px auto;

			@media ($mdWidth) {

				width: 100px;
				height: 100px;

			}

			@media ($smWidth) {

				width: 63px;
				height: 63px;
				flex-shrink: 0;
				margin: 0 20px 0 0;

			}

		}

	}

}