.main-form {

	background-color: #fff;
	padding-top: 50px;
	position: relative;
	background-image: url(/images/main-form-patern.png);
	background-repeat: no-repeat;

	&__form {

		position: relative;
		padding: 50px 0;
		background-color: #5b5b5b;

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .1;
		pointer-events: none;

	}

	.center {

		z-index: 1;

	}

	&__title {

		margin-bottom: 30px;
		letter-spacing: 1.2px;
		margin-left: -42px;

	}

	&__text {

		text-align: center;
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: .15px;

	}

	&__fieldset {

		display: flex;
		align-items: flex-end;
		margin: 61px 0 71px 157px;

	}

	&__name {

		width: 175px;
		flex-shrink: 0;

	}

	&__tel {

		width: 405px;
		flex-shrink: 0;
		margin: 0 38px 0 48px;

	}

	&__btn {

		flex-shrink: 0;

	}

}