.slider {

	background-color: #fff;
	position: relative;
	overflow: hidden;

	&--main {

		background-image: url(/images/main-slider-patern.png);
		background-position: right top;
		background-repeat: no-repeat;
		padding: 40px 0;

		@media ($mdWidth) {

			&::before {

				position: absolute;
				height: 70px;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				background-color: rgba(255,255,255,.7);

			}

		}

		@media ($smWidth) {

			padding: 30px 0 20px;

			&::before {

				display: none;

			}

		}

	}

	&--product {

		padding: 100px 0 40px;

		@media ($mdWidth) {

			padding: 70px 0 40px;

		}

		@media ($smWidth) {

			padding: 30px 0 20px;

		}

	}

	&--related {

		padding: 10px 0 40px;

		@media ($smWidth) {

			padding: 30px 0 20px;

		}

		.title {

			margin-left: 12px;
			letter-spacing: 1.2px;
			margin-bottom: 66px;
			color: #000;

			@media ($smWidth) {

				margin: 0 0 20px;
				letter-spacing: 0;

				&::before {

					display: none;

				}

			}

		}

	}

	&__title {

		color: #000;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin: 0 0 40px -48px;

		@media ($smWidth) {

			margin: 0 20px 30px;

		}

		&::after {

			position: absolute;
			width: 36px;
			height: 4px;
			top: 100%;
			left: 2px;
			margin-top: 9px;
			content: '';
			background-color: var(--orange);

		}

	}

	.swiper-container {

		overflow: visible;

		.swiper-slide {

			width: auto;

			@media ($mdWidth) {

				width: 100% !important;

			}

		}

	}

	.center {

		@media ($desktop) {

			padding: 0 90px;

		}

		@media ($smWidth) {

			padding: 0;

		}

	}

	&__list {

		display: flex;

	}

	&__item {

		position: relative;
		margin-right: 5px;
		flex-shrink: 0;

		.swiper-container-initialized & {

			margin-right: 0;

		}

	}

	&__img {

		pointer-events: none;

		@media ($mdWidth) {

			object-fit: cover;
			width: 100% !important;
			height: 50vw !important;

		}

	}

	&__content {

		position: absolute;
		width: 356px;
		left: 30px;
		bottom: -16px;
		background-color: rgba(0,0,0,.77);
		padding: 30px 44px 38px 33px;
		z-index: 1;

		@media ($smWidth) {

			padding: 20px;
			width: 100%;
			left: 0;
			bottom: 0;
			top: 0;
			background: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;

		}

		p {

			font-size: 16px;
			line-height: 23px;
			font-weight: 700;
			margin-bottom: 16px;

		}

		small {

			font-size: 11px;
			line-height: 23px;
			display: block;
			margin-bottom: 36px;

		}

	}

}