.top-block {

	position: relative;
	min-height: 500px;
	padding: 248px 0 40px;

	@media ($mdWidth) {

		min-height: 0;
		padding: 100px 0 30px;

	}

	@media ($smWidth) {

		min-height: 0;
		padding: 70px 0 20px;

	}

	&::after {

		background-image: url(/images/top-patern.png);
		background-position: right bottom;
		background-repeat: no-repeat;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';

		@media ($mdWidth) {

			opacity: .2;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .4;
		pointer-events: none;

	}

	&__box {

		position: static;

	}

	&__content {

		position: relative;
		z-index: 1;

		@media ($desktop) {

			margin: 24px 40px 0 62px;

		}

		@media ($mdWidth) {

			margin-top: 24px;

		}

	}

	&__title {

		margin-bottom: 8px;
		text-shadow: 1px 1px 0 rgba(0,0,0,.86);

	}

	&__desc {

		display: flex;
		align-items: flex-start;

		@media ($smWidth) {

			display: block;

		}

	}

	&__text {

		flex-grow: 1;
		line-height: 23px;
		padding-right: 56px;
		padding-top: 17px;
		padding-left: 4px;

		@media ($mdWidth) {

			padding: 4px 30px 0 0;

		}

		@media ($smWidth) {

			padding: 10px 0;

		}

	}

	&__action {

		width: 390px;
		line-height: 24px;
		background-color: rgba(0,0,0,.7);
		border-left: 4px solid var(--orange);
		padding: 12px 14px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 300px;

		}

		@media ($smWidth) {

			width: auto;

		}

		h3 {

			font-size: 18px;
			line-height: 24px;
			margin-bottom: 4px;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

}