:root {

	--orange: #fa481c;
	--gray: #839393;
	--red: #f00;
	--error: #f00;

}

$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);