{% set title = "FortHouse" %}

{% set description = "" %}

{% extends "template/base.html" %}

{% block content %}

	<div style="padding: 80px 40px">

		<h1 class="h1">Pages</h1>

		<ul class="h1">
			<li><a href="/main">main</a></li>
			<li><a href="/catalog">catalog</a></li>
			<li><a href="/product">product</a></li>
			<li><a href="/designer">designer</a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">PageSpeed</h1>

		<ul class="h3">
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Ffh.wndrbase.com%2Fmain%2F&tab=desktop">main <b>99|100</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Ffh.wndrbase.com%2Fcatalog%2F&tab=desktop">catalog <b>99|100</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Ffh.wndrbase.com%2Fproduct%2F&tab=desktop">product <b>99|100</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Ffh.wndrbase.com%2Fdesigner%2F&tab=desktop">designer <b>99|100</b></a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">Schema & Open Graph</h1>

		<ul class="h3">
			<li><a target="_blank" href="https://search.google.com/structured-data/testing-tool?hl=ru#url=http%3A%2F%2Ffh.wndrbase.com%2Fblog%2Fproduct%2F">product</a></li>
		</ul>

	</div>

{% endblock %}