{% set title = "Torino Lack" %}

{% set description = "Классические" %}

{% set urlPage = "catalog/product" %}
{% set ogImage = "img/product-article/1@2x.jpg" %}

{% set breadcrumbs = [
	{
		name : "Кухни",
		link: "catalog"
	},
	{
		name : "Torino Lack",
		link: "product"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "product/schema.html" %}
{% include "product/top.html" %}
{% set mod = "product" %}
{% include "_include/slider.html" %}
{% include "product/article.html" %}
{% include "product/tabletop.html" %}
{% include "product/form.html" %}
{% include "_include/related.html" %}

{% endblock %}